{% load i18n %}

{% if cancel_url %}
  <a href="{{ cancel_url }}"
     class="float-right btn btn-link">{% trans "Cancel" %}</a>
{% endif %}
<div class='row py-2'>
  <div class='col-6'>
{% if wizard.steps.prev %}
  <button name="wizard_goto_step" type="submit"
          value="{{ wizard.steps.prev }}"
          class="btn btn-secondary col-12">{% trans "Back" %}</button>
{% else %}
  <button disabled name="" type="button" class="btn col-12">{% trans "Back" %}</button>
{% endif %}
  </div>
  <div class='col-6'>
<button type="submit" class="btn btn-primary col-12">{% trans "Next" %}</button>
</div>
</div>
